@font-face {
    font-family: 'Roboto Mono';
    src: url('../../assets/fonts/roboto_mono/RobotoMono-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-weight: 100 700;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../../assets/fonts/roboto_mono/RobotoMono-Italic-VariableFont_wght.ttf') format('truetype');
    font-style: italic;
    font-weight: 100 700;
    font-display: swap;
}
