name: Sync labels

on:
  workflow_dispatch:

permissions:
  contents: read
  issues: write

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout labels config
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          sparse-checkout: .github/labels.yml
      - name: Sync labels from config
        uses: EndBug/label-sync@52074158190acb45f3077f9099fea818aa43f97a
        with:
          config-file: .github/labels.yml
          delete-other-labels: true
